<template>
  <div class="hello">
    <section class="memoapp">
      <header class="header">
        <h1>memos</h1>
      </header>
    </section>

<el-container style="height: 500px; border: 1px solid #eee" >

  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <h3>Add New Label</h3>
    <el-input
      placeholder="label name"
      v-model="newLabel"
      size="small"
      @keyup.enter.native="addLabel"
      clearable>
      <el-button @click="addLabel" slot="append" type="success" icon="el-icon-circle-plus-outline" circle></el-button>
    </el-input>

    <el-container>
    <el-menu>
        <el-menu-item index="0">
          <router-link :to='{ name: "main", params: { labelId: "0"}}'
            :class='{"my-active-class": currentLabelId === undefined || currentLabelId === "0"}'>
          전체 메모 ({{ this.memos.length }})
          </router-link>
        </el-menu-item>

        <el-menu-item
          v-for="(label, index) in labels"
          :index="index+label._id"
          :key="label._id">
            <router-link :to='{ name: "main", params: { labelId: label._id}}'
               :class='{"my-active-class": currentLabelId === label._id}'>
                {{label.title }} ( {{label.memos.length}} )
            </router-link>
        </el-menu-item>
    </el-menu>
    </el-container>

  </el-aside>

  <!-- <el-container> -->
  <el-aside width="220px">

    <div>
      <h4> {{ getLabelName }} </h4>
          <el-input
      placeholder="memo title"
      v-model="newMemo"
      size="small"
      @keyup.enter.native="addMemo"
      clearable>
      <el-button @click="addMemo" slot="append" type="success" icon="el-icon-circle-plus-outline" circle></el-button>
    </el-input>
    </div>

    <div class="memos">
      <div v-if="memosInLabel.length === 0">
        <h3>No Memos in "{{ labelsMap[currentLabelId].title }}" </h3>
      </div>
      <div v-else>
        <el-row
          v-for="(memo, index) in memosInLabel"
          :index="index+memo._id"
          :key="memo._id">
          <div class="memo" :class="{'my-active-class': currentMemoId == memo._id}" >
            <el-col :offset="1" :span="3">
              <el-checkbox></el-checkbox>
            </el-col>
            <router-link :to='{ name: "main", params: { labelId: currentLabelId? currentLabelId: "0", memoId: memo._id}}'>
                <el-col class="memo-title text-ellipsis" :span="12">
                  <span > {{ memo.title }} </span><br>
                  <span class="memo-content">
                    {{ memo.content}}
                  </span>
                </el-col>
            </router-link>
            <el-col :offset="1" :span="7">
              <span class="memo-date"> {{ memo.updatedAt | shortDate }} </span>
            </el-col>
          </div>
        </el-row>
      </div>
    </div>

  </el-aside>
  <!-- </el-container> -->

  <el-container>
    <el-container v-show="!currentMemoId">
      <el-main>
        <img src="https://picsum.photos/380/440/?random" alt="">
      </el-main>
    </el-container>

    <!-- <div v-else> -->
    <el-container width="600px" v-show="currentMemoId">
      <el-header style="text-align: right; font-size: 12px">
        <el-row>
          <div v-show="!isEditing">
            <el-col :span="18">
              <el-tooltip class="item" effect="dark" content="Double click to edit" placement="top">
                <label class="memo-view" @dblclick="editing"> {{ title }} </label>
              </el-tooltip>
            </el-col>
            <el-col :span="3">
              <el-button @click="editing" type="info" icon="el-icon-edit" circle></el-button>
            </el-col>
            <el-col :span="3">
              <el-button @click="deleteMemo" type="danger" icon="el-icon-delete" :disabled="!currentMemoId" circle></el-button>
            </el-col>
          </div>
          <div v-show="isEditing">
            <el-col :span="18">
              <el-input
                placeholder="Please input"
                v-model="editingTitle">
              </el-input>
            </el-col>
            <el-col :span="3">
              <el-button @click="cancelEditing" type="info" icon="el-icon-back" circle></el-button>
            </el-col>
            <el-col :span="3">
              <el-button @click="saveEditing" type="success" icon="el-icon-check" circle></el-button>
            </el-col>
          </div>
        </el-row>
      </el-header>

      <el-main>
        <div v-show="!isEditing">
          <label v-if="currentMemoId" class="memo-date-detail">Modified : {{ updatedAt | moment("from", "now") }}</label>

          <el-input
            type="textarea"
            :rows="10"
            placeholder=""
            v-model="content"
            @dblclick="editing"
            readonly>
          </el-input>
        </div>
        <div v-show="isEditing">
          <el-input
            type="textarea"
            :rows="10"
            placeholder="Please input"
            v-model="editingContent">
          </el-input>
        </div>
      </el-main>
    </el-container>
    <!-- </div> -->
  </el-container>

</el-container>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'Main',
  data () {
    return {
      newLabel: '',
      newMemo: '',
      title: '',
      content: '',
      updatedAt: '',
      isEditing: false,
      editingTitle: '',
      editingContent: ''
    }
  },
  computed: {
    getLabelName () {
      if (this.currentLabelId === undefined || this.currentLabelId === '0') {
        return '전체 메모'
      } else {
        return this.labelsMap[this.currentLabelId].title
      }
    },
    ...mapState([
      'currentLabelId',
      'currentMemoId',
      'memos',
      'labels',
      'loading'
    ]),
    ...mapGetters([
      'memosMap',
      'labelsMap',
      'memosInLabel'
    ])
  },
  methods: {
    setLabelIdAndMemoId (labelId, memoId) {
      this.$store.commit('SET_LABEL_ID', labelId)
      this.$store.commit('SET_MEMO_ID', memoId)

      if (memoId !== undefined && !this.loading) {
        this.title = this.memosMap[memoId].title
        this.content = this.memosMap[memoId].content
        this.updatedAt = this.memosMap[memoId].updatedAt
      } else {
        this.title = ''
        this.content = ''
        this.updatedAt = ''
      }
      this.isEditing = false
    },
    addLabel () {
      this.$store
        .dispatch('addLabel', this.newLabel)
        .then(() => {
          this.newLabel = ''
          this.$message('Label Added')
        })
        .catch(({ response }) => {
          this.$message('Failed to add label')
        })
    },
    addMemo () {
      this.$store
        .dispatch('addMemo', { newMemo: this.newMemo, labelId: this.currentLabelId })
        .then(() => {
          this.newMemo = ''
          this.$message('Memo added')
        })
        .catch(({ response }) => {
          this.$message('Failed to add memo')
        })
    },
    deleteMemo () {
      this.$store
        .dispatch('removeMemo', { memoId: this.currentMemoId })
        .then(() => {
          this.clearCurrentMemo()
          this.$notify({
            title: 'Deleted',
            message: 'Memo deleted',
            type: 'success'
          })
        })
        .catch(({ response }) => {
          this.clearCurrentMemo()
          this.$notify.error({
            title: 'Error',
            message: 'Faile to delete memo'
          })
        })

      // 메모가 지워졌으므로 상위 url 로 이동
      const labelId = this.currentLabelId
      if (!this.labelsMap[labelId]) {
        this.$router.push({
          name: 'main'
        })
      } else {
        this.$router.push({
          name: 'main',
          params: { labelId }
        })
      }
    },
    clearCurrentMemo () {
      this.title = ''
      this.content = ''
      this.updatedAt = ''
    },
    clearEditingMemo () {
      // console('clearEditingMemo ', editingTitle, editingContent)
      this.editingTitle = ''
      this.editingContent = ''
    },
    editing () {
      this.editingTitle = this.title
      this.editingContent = this.content
      this.isEditing = true
    },
    saveEditing () {
      this.$store
        .dispatch('updateMemo', {
          memoId: this.currentMemoId,
          title: this.editingTitle,
          content: this.editingContent
        })
        .then(() => {
          this.$message('Memo saved')
          this.clearEditingMemo()
        })
        .catch(({ response }) => {
          this.$message('Failed to save memo')
        })

      this.clearEditingMemo()
      this.isEditing = false
    },
    cancelEditing () {
      this.clearEditingMemo()
      this.isEditing = false
    }
  },
  watch: {
    '$route' (to, from) {
      this.setLabelIdAndMemoId(to.params['labelId'], to.params['memoId'])
    },
    memos (val, oldVal) {
      console.log('memo changed')
    },
    memosMap (val, oldVal) {
      console.log('memoMap changed : loading = ' + this.loading)
      const memoId = this.currentMemoId
      if (memoId !== undefined) {
        this.title = val[memoId].title
        this.content = val[memoId].content
        this.updatedAt = val[memoId].updatedAt
      } else {
        this.clearCurrentMemo()
      }
    },
    loading (val, oldVal) {
      // 초기 메모/라벨 로딩 완료시 라우팅 위치 체크
      if (val === false) {
        const labelId = this.currentLabelId
        const memoId = this.currentMemoId
        if (labelId !== '0' && !this.labelsMap[labelId]) {
          this.$router.push({
            name: 'main'
          })
          return
        }
        if (!this.memosMap[memoId]) {
          this.$router.push({
            name: 'main',
            params: {
              labelId
            }
          })
        }
      }
    }
  },
  created () {
    console.log('created')
    this.$store
      .dispatch('loadMemos')
      .catch(err => {
        this.$notify.error({
          title: 'Error',
          message: `${err}`
        })
      })
  },
  mounted () {
    this.setLabelIdAndMemoId(this.$route.params['labelId'], this.$route.params['memoId'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h1, h2, h3 {
  font-weight: normal;
  text-align: center;
}
h4 {
  margin-left: 3px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-main {
  background-color: rgb(212, 236, 238)
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '.';
}

.memos-list {
  padding-left: 0px !important;
}

.memo-content {
  font-size: 0.7em;
}

.memo-date {
  font-size: 0.7em;
}

.memo-date-detail {
  display: block;
  font-size: 1em;
  text-align: right;
  margin-bottom: 10px;
}

.memo-view {
  display: block;
  word-break: break-all;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  padding: 15px 60px 15px 15px;
}

.my-active-class {
  font-weight: bold;
}

</style>
