<template>
  <div id="app">

    <router-view></router-view>

    <footer class="info">
      <h2>Advice at the moment</h2>
      <p>{{advice}}</p>
      <br>
    </footer>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      advice: 'loading...'
    }
  },
  methods: {
    fetchAdvice () {
      axios.get('http://api.adviceslip.com/advice')
        .then(response => {
          this.advice = response.data.slip.advice
        })
        .catch(err => {
          this.advice = 'Carpe diem'
          this.$notify.error({
            title: 'Error',
            message: `${err}`
          })
        })
    }
  },
  watch: {
    '$route' (to, from) {
      this.fetchAdvice()
    }
  },
  created () {
    this.fetchAdvice()
  }
}
</script>

<style scoped>
footer p {
  font-size: 1.4em;
}
</style>
